In [92]:
import pandas as pd 
import numpy as np 
from scipy.stats import shapiro

In [93]:
# This is to inference for population. Is there any correlation between age and Sex

# Ho : average age of male = average age of female
# Ha : average age of male is significantly greater then average age of females

In [94]:
df = pd.read_csv("/Users/meetsudra/Documents/GitHub/mathismust/statsismust/Titanic-Dataset.csv")
df.head(6)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

In [95]:
df_male = df[df["Sex"] == "male"].dropna()
df_male["Age"].values

array([54.  , 34.  , 28.  , 19.  , 65.  , 45.  , 25.  , 46.  , 71.  ,
       23.  , 21.  , 47.  , 24.  , 54.  , 37.  , 24.  , 36.5 , 61.  ,
       56.  ,  1.  ,  3.  , 40.  , 38.  , 44.  , 37.  , 62.  , 52.  ,
       40.  , 37.  , 36.  ,  0.92, 45.5 , 38.  , 29.  , 45.  ,  2.  ,
       25.  , 27.  , 36.  , 32.  , 28.  , 50.  , 64.  ,  4.  , 52.  ,
       30.  , 49.  , 65.  , 48.  , 47.  , 25.  , 58.  , 55.  , 18.  ,
       36.  , 47.  , 45.  , 50.  , 17.  , 36.  , 36.  , 60.  , 49.  ,
       42.  , 61.  , 80.  , 32.  , 48.  , 56.  , 58.  , 47.  , 31.  ,
       36.  , 27.  , 31.  , 49.  , 42.  , 35.  , 42.  , 48.  , 19.  ,
       27.  , 35.  , 36.  , 70.  , 19.  ,  6.  , 29.  , 46.  , 11.  ,
       39.  , 51.  , 31.  , 33.  , 26.  ])

In [96]:
df_female = df[df["Sex"]=="female"].dropna()
df_female["Age"].values

array([38. , 35. ,  4. , 58. , 49. , 29. , 23. , 32.5, 19. , 22. , 50. ,
       44. , 58. ,  2. , 31. , 32. , 35. , 29. , 30. , 58. , 35. , 63. ,
       19. ,  2. , 50. , 17. , 30. , 24. , 18. , 31. , 40. , 36. , 36. ,
       16. , 41. , 24. , 24. , 22. , 60. , 24. , 23. , 24. , 33. , 14. ,
       23. , 35. , 54. , 25. , 16. , 34. , 30. , 44. , 22. , 36. , 48. ,
       39. , 53. , 39. , 39. , 18. , 52. , 40. ,  4. , 21. , 24. , 15. ,
       18. , 24. , 38. , 27. , 29. , 21. , 33. , 36. , 51. , 57. , 43. ,
       17. , 49. , 33. , 52. , 27. , 39. , 16. , 48. , 47. , 56. , 19. ])

In [97]:
sample_male_age = df_male["Age"].sample(25,random_state=42)
sample_male_age

647    56.00
224    38.00
679    36.00
681    27.00
6      54.00
262    52.00
430    28.00
438    64.00
102    21.00
452    30.00
745    70.00
515    47.00
724    27.00
456    65.00
118    24.00
54     65.00
174    56.00
273    37.00
429    32.00
632    32.00
139    24.00
707    42.00
712    48.00
305     0.92
336    29.00
Name: Age, dtype: float64

In [98]:
sample_female_age = df_female["Age"].sample(25,random_state=42)
sample_female_age

779    43.0
1      38.0
309    30.0
291    19.0
195    58.0
710    24.0
177    50.0
257    30.0
52     49.0
716    38.0
871    47.0
689    15.0
540    36.0
820    52.0
862    48.0
641    24.0
329    16.0
809    33.0
558    39.0
763    36.0
194    44.0
319    40.0
393    23.0
311    18.0
151    22.0
Name: Age, dtype: float64

Assumtions :
1. Independent ofc he 
2. Normally distributed (will check)
3. Equal variances 
4. Random

In [99]:
# Now since we cant apply CLT since we dont have std of population_male_age and population_female_age 
# lets check whether our sample is following normal distribution or not using SHAPIRO WILK TEST 
shapiro_male = shapiro(sample_male_age)
print(shapiro_male)

shapiro_female = shapiro(sample_female_age)
print(shapiro_female)

ShapiroResult(statistic=0.9573870459042103, pvalue=0.36489471892365183)
ShapiroResult(statistic=0.9609997363223072, pvalue=0.43474496646823146)

p-value for both the series is greater then 0.05 means we can say that they are following normal distribution

In [100]:
# if the p-value is greater then 0.05 means we can say that they have equal variances 
from scipy.stats import levene

levene_test = levene(sample_male_age,sample_female_age)
print(levene_test)

LeveneResult(statistic=2.2247302601679935, pvalue=0.1423597531874301)

p-value is greater then 0.05 means we can say that they have equal variances

In [85]:
print(sample_male_age.std())
print(sample_female_age.std())

n1=n2= 25 # samples
sample_male_mean = sum(sample_male_age)/len(sample_male_age)
sample_female_mean = sum(sample_female_age)/len(sample_female_age)

17.022384948453414
12.370394765999453

In [86]:
# Calculate t-statistic

tstatistic = (sample_male_mean - sample_female_mean)/(np.sqrt((17.022384948453414**2/n)+(12.370394765999453**2/n)))
tstatistic

1.2633459180286415

In [102]:
from scipy.stats import t

degree_of_freedom = n1 + n2 - 2
# Calculate the cdf value 
cdf = 1 - t.cdf(tstatistic,degree_of_freedom) # area under the curve
print(cdf*2) # p-value

0.21256687059589208

In [101]:
# Using ttest_ind function

import scipy.stats as stats

t_statistic, p_value = stats.ttest_ind(sample_male_age,sample_female_age)
print(t_statistic)
print(p_value)

1.263345918028642
0.2125668705958919

#### p-value is greater then 0.05 means we fail to reject null hypthesis. mean age of male and female are significantly similarly